*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*navbar*/
.header{
    display: flex;
    width: 100vw;
    height: 60px;
    box-shadow: 1px 1px 1px black;
}

.logo{
    margin:10px 170px 30px 130px
}
.logo h2{
    font-size: 25px;
    font-family: "DotGothic16", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.logo  a{
    text-decoration: none;
    color: black;
}


.section{
    width: 100vw;
}
.section .lists{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lists{
    list-style-type: none;
}
.lists a{
    text-decoration: none;
    font-size: 18px;
    font-family: "REM", sans-serif,Arial, Helvetica, sans-serif;
    color: black;
    padding: 18px;
}
.lists a :hover{
    padding-bottom: 18px;
    border-bottom: 1px solid black;
}


.login{
    margin:20px 150px 30px 200px;
    font-size: 28px;
}
.login a{
    color: black;
}



/*body*/

.container{
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(243, 245, 249);
}


.first{
    display: flex;
}
.first img{
    height: 100vh;
    width: 70vw;
}

.first-side{
    justify-content: flex-end;
    padding-left: 25px;
    width: 27vw;
}
.first .first-side h1{
    margin-top: 280px;
    margin-left: 30px;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.first-side p{
    margin-left: 30px;
    font-size: 18px;
    line-height: 40px;
}
.first-side button{
    background-color: rgb(0, 47, 108);
    color: white;
    font-size: 16px;
    margin-top: 7px;
    padding: 15px 120px;
    border-radius: 50px;
}
.first-side button:hover{
    transform: scale(1.03,1.03);
    background-color: rgb(3, 28, 60);
}



.second,.third{
    display: flex;
}
.second img,.third img{
    height: 100vh;
    width: 70vw;
}

.second-side,.third-side{
    background-color: rgb(243, 245, 249);
    justify-content: flex-end;
    padding-left: 25px;
    width: 30vw;
}
.second .second-side h1,.third .third-side h1{
    margin-top: 280px;
    margin-left: 30px;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.second-side p,.third-side p{
    margin-left: 30px;
    font-size: 17px;
    line-height: 40px;
}
.second-side button,.third-side button{
    background-color: rgb(0, 47, 108);
    color: white;
    font-size: 16px;
    margin-top: 7px;
    padding: 15px 120px;
    border-radius: 50px;
    cursor: pointer;
}
.second-side button:hover,.third-side button:hover{
    transform: scale(1.03,1.03);
    background-color: rgb(3, 28, 60);
}






.footer{
    width: 100vw;
    height: 75vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.footer .products,.footer .company,.footer .support,.footer .mailing{
    margin-top: 100px;
    font-size: 13px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer .products h2 ,.footer .company h2,.footer .support h2{
    font-size: 18px;
    padding-bottom: 20px;
}
.footer .products p,.footer .company p,.footer .support p,.footer .mailing label{
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
}

.footer .mailing input{
    margin-top: 40px;
    padding: 20px 280px 20px 10px;
    border-radius: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
}
.footer .mailing input::placeholder{
    color: white;
    font-weight: bold;
}
.footer .mailing label{
    line-height: 25px;
}
.footer .mailing label a{
    text-decoration: none;
    border-bottom: 2px solid white;
    color: white;
    margin-left: 20px;
    line-height: 10px;
}




.last{
    border-top: 1px solid white;
    background-color: black;
    width: 100vw;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    color: white;
    border: 2px solid rde;
}
.last p,.last .social-media,.last  a{
    margin-left: 20px;
    margin-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}
.last .social-media{
    width: 40vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.last a{
    padding-right: 30px;
    color: white;
}
